/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Caveat&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');



/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;
  --title-font: 'Montserrat', sans-serif;
  
  /*===== Colors =====*/
  --first-color: #0E2431;
  --first-color-light: #00C2CB;
  --white-color: #F7F6FB;
  
  /*===== Font and typography =====*/
  --body-font: 'Montserrat', sans-serif;
  --normal-font-size: 1rem;
  --special-font:'La Belle Aurore', cursive;

  
  /*===== z index =====*/
  --z-fixed: 100;
}


/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

.index__body{
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.body__about{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

/*===== LAYOUT =====*/

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, var(--first-color));
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, var(--first-color-light));
}

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
  
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color-light);
}
.section{
  display: flex;
  padding-top: 3rem;
  padding-bottom: 2rem;
  align-items: center;
  margin-top: -6%;

}

.section-about{
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== HOME =====*/
.home__data{
  height: calc(100vh- 81.6px);
  text-align: left;
  width: 100%;
}

.home__title {
  text-align: center;
  font-size: 45px;
  margin-left: 2%;
  margin-right: 2%;
  font-family: var(--title-font);
}

.home__subtitle {
  text-align: center;
  font-size: 15px;
  color: #8f8f8f;
}

.home__title-color{
  color: var(--first-color-light);
}
.home__title-color:before{
  content: "Edward Gaibor";
}
.cite{
  color: var(--first-color-light);
}

.icons__social{
  display: relative;
  margin-top: 10%;
}

.home__social-icon{
  color: var(--first-color);
  font-size: 19px;
  padding: 3px;
}

.home__social-icon:hover{
  transition: all .5s;
  color: var(--first-color-light);
}

.button{
  display: block;
  position: relative;
  background: var(--first-color);
  border: 1px solid transparent;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  padding: 0 70px;
  white-space: nowrap;
  margin-top: 25px;
  transition: background .5s ease;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
  display: inline-block;
  width: 250px;
}

.button_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 100px;
  background: #fff;
  bottom: -25px;
  left: 0;
  border: 2px solid #fff;
  transform: translateX(-50px) rotate(45deg);
  transition: transform .5s ease;
}

.button:hover{
  background: var(--first-color-light);
  border-color: #fff;
}

.button:hover::before{
  transform: translateX(250px) rotate(45deg);
}



/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

.badge{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
}

.badge_2{
  display:none;
} 

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/*===== ERROR 404 =====*/
.box {
  width: 350px;
  height: 100%;
  max-height: 600px;
  min-height: 450px;
  background: #272727;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
}
.box .box__ghost {
  padding: 15px 25px 25px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}
.box .box__ghost .symbol:nth-child(1) {
  opacity: .2;
  animation: shine 4s ease-in-out 3s infinite;
}
.box .box__ghost .symbol:nth-child(1):before, .box .box__ghost .symbol:nth-child(1):after {
  content: '';
  width: 12px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  left: 0;
}
.box .box__ghost .symbol:nth-child(1):before {
  transform: rotate(45deg);
}
.box .box__ghost .symbol:nth-child(1):after {
  transform: rotate(-45deg);
}
.box .box__ghost .symbol:nth-child(2) {
  position: absolute;
  left: -5px;
  top: 30px;
  height: 18px;
  width: 18px;
  border: 4px solid;
  border-radius: 50%;
  border-color: #fff;
  opacity: .2;
  animation: shine 4s ease-in-out 1.3s infinite;
}
.box .box__ghost .symbol:nth-child(3) {
  opacity: .2;
  animation: shine 3s ease-in-out .5s infinite;
}
.box .box__ghost .symbol:nth-child(3):before, .box .box__ghost .symbol:nth-child(3):after {
  content: '';
  width: 12px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 40px;
}
.box .box__ghost .symbol:nth-child(3):before {
  transform: rotate(90deg);
}
.box .box__ghost .symbol:nth-child(3):after {
  transform: rotate(180deg);
}
.box .box__ghost .symbol:nth-child(4) {
  opacity: .2;
  animation: shine 6s ease-in-out 1.6s infinite;
}
.box .box__ghost .symbol:nth-child(4):before, .box .box__ghost .symbol:nth-child(4):after {
  content: '';
  width: 15px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  top: 10px;
  right: 30px;
}
.box .box__ghost .symbol:nth-child(4):before {
  transform: rotate(45deg);
}
.box .box__ghost .symbol:nth-child(4):after {
  transform: rotate(-45deg);
}
.box .box__ghost .symbol:nth-child(5) {
  position: absolute;
  right: 5px;
  top: 40px;
  height: 12px;
  width: 12px;
  border: 3px solid;
  border-radius: 50%;
  border-color: #fff;
  opacity: .2;
  animation: shine 1.7s ease-in-out 7s infinite;
}
.box .box__ghost .symbol:nth-child(6) {
  opacity: .2;
  animation: shine 2s ease-in-out 6s infinite;
}
.box .box__ghost .symbol:nth-child(6):before, .box .box__ghost .symbol:nth-child(6):after {
  content: '';
  width: 15px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  right: -5px;
}
.box .box__ghost .symbol:nth-child(6):before {
  transform: rotate(90deg);
}
.box .box__ghost .symbol:nth-child(6):after {
  transform: rotate(180deg);
}
.box .box__ghost .box__ghost-container {
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  position: relative;
  margin: 0 auto;
  animation: upndown 3s ease-in-out infinite;
}
.box .box__ghost .box__ghost-container .box__ghost-eyes {
  position: absolute;
  left: 50%;
  top: 45%;
  height: 12px;
  width: 70px;
}
.box .box__ghost .box__ghost-container .box__ghost-eyes .box__eye-left {
  width: 12px;
  height: 12px;
  background: #332F63;
  border-radius: 50%;
  margin: 0 10px;
  position: absolute;
  left: 0;
}
.box .box__ghost .box__ghost-container .box__ghost-eyes .box__eye-right {
  width: 12px;
  height: 12px;
  background: #332F63;
  border-radius: 50%;
  margin: 0 10px;
  position: absolute;
  right: 0;
}
.box .box__ghost .box__ghost-container .box__ghost-bottom {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.box .box__ghost .box__ghost-container .box__ghost-bottom div {
  flex-grow: 1;
  position: relative;
  top: -10px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
}
.box .box__ghost .box__ghost-container .box__ghost-bottom div:nth-child(2n) {
  top: -12px;
  margin: 0 -0px;
  border-top: 15px solid #332F63;
  background: transparent;
}
.box .box__ghost .box__ghost-shadow {
  height: 20px;
  box-shadow: 0 50px 15px 5px #3B3769;
  border-radius: 50%;
  margin: 0 auto;
  animation: smallnbig 3s ease-in-out infinite;
}
.box .box__description {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.box .box__description .box__description-container {
  color: #fff;
  text-align: center;
  width: 200px;
  font-size: 16px;
  margin: 0 auto;
}
.box .box__description .box__description-container .box__description-title {
  font-size: 24px;
  letter-spacing: .5px;
}
.box .box__description .box__description-container .box__description-text {
  color: #8C8AA7;
  line-height: 20px;
  margin-top: 20px;
}
.box .box__description .box__button {
  display: block;
  position: relative;
  background: #FF5E65;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  padding: 0 70px;
  white-space: nowrap;
  margin-top: 25px;
  transition: background .5s ease;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
}

.box .box__description .box__button:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 100px;
  background: #fff;
  bottom: -25px;
  left: 0;
  border: 2px solid #fff;
  transform: translateX(-50px) rotate(45deg);
  transition: transform .5s ease;
}
.box .box__description .box__button:hover {
  background: transparent;
  border-color: #fff;
}
.box .box__description .box__button:hover:before {
  transform: translateX(250px) rotate(45deg);
}

/*===== About =====*/

.about_section{
  margin-top: 6%;
  margin-left: 2%;
  align-self: left;
  margin-bottom: 2%;
}
.skills__container{
  row-gap: 2rem;
  text-align: left;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
  font-size: 35px;
  font-family: var(--title-font);
  color: var(--first-color);

}
.skills__text{
  margin-bottom: var(--mb-4);
  font-size: 14px;
  font-family: var(--body-font);
  line-height: 20px;
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: left;
  position: relative;
  font-weight: 900;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__icon1{
  font-size: 1.6rem;
  margin-right: var(--mb-3);
  margin-left: 5px;
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color-light);
  height: .25rem;
  border-radius: .5rem;
  z-index: -10;
}
.skills__html{
  width: 95%;
}
.skills__css{
  width: 85%;
}
.skills__js{
  width: 90%;
}
.skills__ux{
  width: 75%;
}
.skills__img{
  border-radius: .5rem;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
.skills__html2{
  width: 100%;
}
.skills__css2{
  width: 60%;
}
.skills__js2{
  width: 80%;
}
.skills__ux2{
  width: 70%;
}
.skills__ux3{
  width: 50%;
}
.skills__img2{
  border-radius: .5rem;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

.about-title:before{
  content: "<about>";
  font-family: var(--special-font);
}

.about-title{
  text-align: left;
  font-size: 15px;
  margin-left: -4%;
  margin-bottom: -50%;
}

.about-title2:before{
  content: "</about>";
  font-family: var(--special-font);
}

.about-title2{
  margin-top: -3%;
  text-align: left;
  font-size: 15px;
  margin-left: -4%;
}

@keyframes upndown {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes smallnbig {
  0% {
    width: 90px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 90px;
  }
}
@keyframes shine {
  0% {
    opacity: .2;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
}


/* ===== Projects Box =====*/

.projects_section{
  padding: 10px;
}
.body__projects{
  background-color: #fff;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  min-height: 100vh;
  margin-left: 4%;
  margin-bottom: 2%;
}

.projects_div{
  display: flex;
}

.project_cards{
  position: relative;
  margin: 0 auto;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  gap: 20px;
  align-items: start;
}

.project_card{
  transition: 0.5s;
}

.project_card:hover{
  transition: 0.5s;
  transform: translateY(-0.8%);
}

.project_image{
  width: 100%;
  display: block;
  border-radius: 10px;
  margin-bottom: -2%;
}


.project_content{
  line-height: 1.5;
  font-size: 0.9em;
  background: linear-gradient(#fafafa, #ecfeff);
  transition: 0.5s;
  border-radius: 10px;
}

.project_content:hover{
  transition: 0.5s;
  transform: translateY(-0.8%);
}

.project_content > h2:first-of-type{
  padding: 15px;
  margin-top: 0;
  margin-bottom: -9%;
}

.project_content > p:first-of-type{
  padding: 15px;
  margin-bottom: 0;
}

.project__info{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-bottom: 2px solid #cccccc;
  color: var(--first-color);
  border-radius: 10px;
  margin-top: 1%;
  background-color: #ebebeb;
  transition: 0.5s;
  padding-top: 7px;
}

.project__info:hover{
  transition: 0.5s;
  background-color: var(--first-color-light);
}


.projects_title{
  transition: 0.5s;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: var(--title-font);
  font-size: 35px;
  margin-bottom: 4%

}

.projects_title:hover {
  transition: 0.2s;
  color: #00C2CB;
  cursor:default;
}

.projects_section{
  margin-top: 3.5%;
  margin-bottom: 4%;
}

.button_2{
  background: var(--first-color);
  border: 1px solid transparent;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  padding: 0 70px;
  white-space: nowrap;
  margin-top: 25px;
  transition: background .5s ease;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
}

.button_2 i{
  margin-left: 6px;
}

.button_project{
  display: flex;
  justify-content: center;
}

.button_2:hover{
  background: var(--first-color-light);
  border-color: #fff;
}



/* ===== WORK =====*/

.work_section{
  margin-bottom: 5%;
}

.work_section2{
  margin-top: 5%;
  margin-bottom: 5%;
}

.work__title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
  font-size: 35px;
  transition: 0.5s;
}

.work__title:hover{
  transition: 0.5s;
  color: var(--first-color-light);
}

.work__title::after{
  position: absolute;
  content: "";
  width: 100px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  background-color: var(--first-color);
}
.work__subtitle{
  text-align: center;
  margin-bottom: var(--mb-6);
}

.gallery{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  margin-bottom: 1%;
}

.gallery img{
  display: flex;
  object-fit: cover;
  object-position: top;
}

.gallery img:hover{
  transition: 0.5s;
}

/*.ibm_certificate{
  height: 105%;
  margin-left: 5%;
}*/

/* ===== CONTACT =====*/
.body__contact{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #00c1cb1c;
  background-repeat: no-repeat;
}
.contact{
  padding-bottom: 5%;
}

.contact_2{
  padding-bottom: 5%;
  padding-top: 5%;
  background-size: cover;
}

.contact_form{
  max-width: 600px;
  margin:auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact_form_text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: var(--first-color);
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact_form_text:hover{
  box-shadow: 0 0 10px 4px #34495e;
  font-family: var(--body-font);
}

textarea.contact_form_text{
  resize: none;
  height: 120px;
  font-family: var(--body-font);
}

.button_c{
  float: right;
  border: 0;
  background: var(--first-color);
  color: #fff;
  padding: 12px 50px;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--body-font);
  transition: 0.5s;
}

.button_c:hover{
  transition: 0.5s;
  background: #00C2CB;
}


.contact_title{
  font-size: 35px;
  text-align: center;
  transition: 0.5s;
}

.contact_title:hover{
  transition: 0.5s;
  color: var(--first-color-light)
}

/* ===== Thanks =====*/
.body__thanks{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.thanks__title{
  text-align: center;
  font-size: 40px;
}

.thanks_icon{
  text-align: center;
  margin-top: 25%;
  font-size: 150px;
  transition: 0.5s;
}

.thanks_icon:hover{
  transition: 0.5s;
  font-size: 180px;
  color: #00C2CB;
}

.thanks_content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanks_button{

  display: flex;
  align-items: center;
  justify-content: center;
}

.button_3{
  display: block;
  position: relative;
  background: var(--first-color);
  border: 1px solid transparent;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  padding: 0 70px;
  white-space: nowrap;
  margin-top: 25px;
  transition: background .5s ease;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
  display: inline-block;
  width: 250px;
}

.button_3:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 100px;
  background: #fff;
  bottom: -25px;
  left: 0;
  border: 2px solid #fff;
  transform: translateX(-50px) rotate(45deg);
  transition: transform .5s ease;
}

.button_3:hover{
  background: var(--first-color-light);
  border-color: #fff;
}

.button_3:hover::before{
  transform: translateX(250px) rotate(45deg);
}


/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  .index__body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    /*background: linear-gradient(90deg, rgba(255,255,255,0.8267682072829132) 0%, rgba(179,179,179,1) 54%, rgba(14,36,49,0.9556197478991597) 100%);
    background: cover;
    background-repeat: none;*/
  }

  .section{
    padding-bottom: 3rem;
    height: 100vh;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .body__about{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    background: rgb(255,255,255);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .home__title{
    font-size: 60px;
    font-weight: 1000;
    text-align: left;
    margin-bottom: -5px;
    margin-left: 2%;
    line-height: 70px;
  }

  .home__subtitle{
    font-size: 15px;
    text-align: left;
    margin-left: 2%;
  }

  .about_section{
    margin-left: -2%;
    align-self: left;
  }

  .button{
    margin-left: 2%;
    display: inline-block;
    width: 250px;
    border-radius: 5px;
  }
  
  .button_wrapper{
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .thanks_button{
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button_3{
    display: inline-block;
    width: 250px;
    border-radius: 5px;
  }

  .button_2{
    display: flex;
    width: 250px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  .thanks__title{

    text-align: center;
    font-size: 60px;
  }
  
  .thanks_icon{
    text-align: center;
    margin-top: 10%;
    font-size: 150px;
    transition: 0.5s;
  }
  
  .thanks_icon:hover{
    transition: 0.5s;
    font-size: 180px;
    color: #00C2CB;
  }
  
  .thanks_content{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }

  .project_content{
    height: 325px;
  }

  .wrapper{
    display: flex;
    justify-content: center;
  }

  .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .ibm_certificate{
    height: 410px;
    margin-left: 5%;
  }

  .badge_2{
    margin-right: 5%;
  }
  
  .badge{
    display:none;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}
